page-signup {


    ion-content{

        background-image: url(https://38.media.tumblr.com/a123606e52db443841a6bb982d93febe/tumblr_n7a40sXB7P1r2geqjo1_r1_500.gif);
        background-image: url(https://38.media.tumblr.com/a123606e52db443841a6bb982d93febe/tumblr_n7a40sXB7P1r2geqjo1_r1_500.gif );
        background-repeat: no-repeat;
        background-size:cover;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
  }